.app-footer{
    border: red 1px solid;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}